.userlogin-component {
    width: 80%;
    margin: 0 auto;

    a {
        cursor: pointer;
    }

    h1 {
        text-align: center;
        margin: 0 auto;
        font-size: 2em;
        padding: 10px 0px;
    }
    

    form {
        text-align: center;

        input {
            margin: 0 auto;
            margin-top: 10px;
            width: 50%;
            padding: 6px;
            font-size: 1em;
        }

        .btn-wrapper {
            margin-top: 10px;

            button {
                letter-spacing: 1px;
                font-variant: small-caps;
                text-align: center;
                white-space: nowrap;
                border: 0px solid #dadada;
                background-color: #a71e2f;
                color: #ffffff;
                padding: 8px 15px;
                font-size: 1.05em;
                cursor: pointer;
            }
        }

        .login-link {
            color: #49a3a6;
            font-size: 1em;
            border-bottom: 1px solid;
        }
    }
}