<div class="header-component">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <div *ngIf="loggedInState() == false; then signUpBlock else homeBlock"></div>
            <ng-template #signUpBlock>
                <a class="nav-link" routerLink="/signup" title="home">Home <span class="sr-only">(current)</span></a>
            </ng-template>
            <ng-template #homeBlock>
                <a class="nav-link" routerLink="/" title="home">Home <span class="sr-only">(current)</span></a>
            </ng-template>
        </li>
        <li class="nav-item project-title">
          <a>Shopping Cart</a>
        </li>
        <div class="right-nav">
          <li class="nav-item login-button" *ngIf="loggedInState() == false">
            <a class="nav-link" routerLink="/signup" title="Create Account/Login">Sign up/Login</a>
          </li>
          <li class="nav-item customer-name" *ngIf="loggedInState() == true">
            <a class="nav-link" title="Hello, {{ customerInfo$.first_name }}">Hello, {{ customerInfo$.first_name }}</a>
          </li>
          <li class="nav-item login-button" *ngIf="loggedInState() == true">
            <a class="nav-link" (click)="logOutCustomer()" title="Logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Cart" routerLink="/cart"><fa-icon [icon]="faShoppingCart"></fa-icon><span class="cart-space">Cart({{cartValue}})</span></a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
  <div class="category-nav" *ngIf="loggedInState() == true">
    <ul>
      <li class="category-item" *ngFor="let categoryItem of categoryInfo$">
        <a class="cat-link" title=" {{ categoryItem.name }} " routerLink="/productlist/{{categoryItem.cat_id}}"> {{ categoryItem.name }} </a>
      </li>
    </ul>
  </div>
</div>