.header-component {
    .navbar {
        background-color: #4d4d4f !important;
        ul {
            li {
                border-right: 1px solid #fff;
                border-left: 1px solid #ffff;
                z-index: 99;

                a {
                    color: white;
                    cursor: pointer;
                    padding: 0.5em 1em;
                }
            }
            .project-title {
                border: none;
                position: absolute;
                z-index: 9;
                right: 0;
                left: 0;
                text-align: center;

                a {
                    text-align: center;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    color: #dc3545;
                }
            }
            .right-nav {
                position: absolute;
                right: 0;
                display: flex;

                .cart-space{
                    padding-left: 0.5em;
                }
            }
        }
    }
    .category-nav {
        text-align: center;
        border-bottom: 1px solid;

        ul {
            margin: 0px auto;
            display: inline-flex;
            text-align: center;
            list-style-type: none;

            li {
                padding: 1em 2em;
                text-transform: uppercase;
                font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,Sans-Serif;
                font-size: 1em;
                font-weight: 700;

                a {
                    color: black;
                    cursor: pointer;
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}