.cart-component {
    h1 {
        text-align: center;
        margin-top: 0.25em;
        font-size: 2em;
    }

    .row {
        margin: 0 auto;
    }
    
    .separator-title {
        margin: 10px 0px;
    
        .divider-line {
            border-bottom: 1px solid #2b3136;
            margin: 0 auto;
            width: 40px;
        }
    }

    .product-wrapper {
        margin-top: 25px;

        .product-list {
            background-color: #f0f0f052;
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid;

            .product-attributes {
                position: relative;
                top: 10%;

                .product-title {
                    font-size: 1em;
                    font-weight: bold;
                }

                .product-price {
                    color: #d6001c;
                }

                .total-price {
                    .total-value {
                        padding-left: 4%;
                        font-size: 1em;
                        font-weight: bold;
                    }
                }

                .qty-field {
                    padding-top: 20px;

                    .update-cart-value {
                        display: inline;
                        
                        input {
                            width: 15%;
                            padding-left: 10px;
                            height: 25px;
                        }

                        .update-cart-btn {
                            margin-left: 15px;
                            letter-spacing: 1px;
                            font-variant: small-caps;
                            text-align: center;
                            white-space: nowrap;
                            border: 0px solid #dadada;
                            background-color: #a71e2f;
                            color: white;
                            padding: 4px 10px;
                            font-size: 1em;
                            cursor: pointer;
                        }
                    }
                }
            }

            .text-align-right {
                text-align: right;
            }
        }
        img {
            max-width: 150px;
        }
        .empty-message {
            text-align: center;
        }
    }
}