<div class="productlist-component">
  <h1>
    {{categoryName}}
  </h1>
  <div class="separator-title">
    <div class="divider-line"></div>
  </div>
  <div class="row custom-row">
    <div class="col-sm-3" *ngFor="let productItem of productInfo$">
      <div class="card custom-card">
        <div class="card-body">
          <img src="assets/productimages/{{productItem.imagepath}}">
          <h5 class="card-title">{{productItem.name}}</h5>
          <div class="card-text">${{productItem.rate}}</div>
          <a href="#" class="btn btn-primary red-button">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>